
.dash-2 {
   
    height: 280px; /* Ensure the container takes up full height */
}



img {
    width: 100%;
    /* Set a specific height for the image */
    height: 280px; /* Adjust the height value as needed */
    /* Preserve aspect ratio */
    object-fit: cover;
}

.card-footer {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

span {
    color: #333;
}

i {
    color: purple;
    font-size: 30px;
}

p {
    color: #333;
}

