img{
    width: 100%;
    height: 100%;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
span{
    color: rgb(255, 240, 254);
}
i{
    color: purple;
    font-size: 30px;
}
p{
    color: rgb(171, 73, 188);
}