
<div class="container">
    <img src="../../assets/images/bar.png" alt="">
</div><br>

<div class="divider"></div><br>
<div class="icons">
   <span><i class="material-icons arrow-round-up">arrow_circle_up</i>lorem ipsum r sit amet consectetur adipisicing elit. Sint qui deserunt odit cupiditate soluta sed! </span>
   <span><i class="material-icons">fiber_manual_record</i>lorem ipsum r sit amet consectetur adipisicing elit. Sint qui deserunt odit cupiditate soluta sed!</span>
   <span><i class="material-icons arrow-round-down">arrow_circle_down</i>lorem ipsum r sit amet consectetur adipisicing elit. Sint qui deserunt odit cupiditate soluta sed!</span>

</div><br>
<div class="divider"></div><br>
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint qui deserunt odit cupiditate .</p>
</div>