<div class="container">
  <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-10">
      <div class="card-header">
        <h2>Add University</h2>
      </div>
      <div class="card p-3">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">University Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              id="country"
              name="country"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea
              id="description"
              name="description"
              class="form-control"
              required
            ></textarea>
          </div>
          <button type="button" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
