img{
    width: 650px;
    height: 400px;
}

@media (max-width: 768px) {
    img {
        max-width: 450px; /* Make the image fill the container width */
        height: auto; /* Maintain the aspect ratio */
    }
}