<div class="body">
<div class="container">
  <div class="row">
      <div class="col-md-4 col-lg-6 mb-4">
          <div class="component-wrapper">
              <app-dash1 class="flat"></app-dash1>
          </div>
      </div>
      <div class="col-md-4 col-lg-6 mb-4">
          <div class="component-wrapper">
              <app-dash2 class="flat"></app-dash2>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4 col-lg-3 mb-4">
          <div class="component-wrapper">
              <app-dash3 class="flat"></app-dash3>
          </div>
      </div>
      <div class="col-md-4 col-lg-9 mb-4">
          <div class="component-wrapper">
              <app-dash4 class="flat"></app-dash4>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-9 mb-4">
      <div class="component-wrapper">
          <app-dash5 class="flat"></app-dash5>
      </div>
    </div>
    <div class="col-md-4 col-lg-3 mb-4">
        <div class="component-wrapper">
            <app-dash6 class="flat"></app-dash6>
        </div>
    </div>
  </div>
</div>
</div>


  
  
<!-- <div>
    <img src="../../../assets/images/d.jpg" alt="">
</div> -->