header {
  background-color: #333;
  padding: 5px 25px;
  height: 60px;
}

.navbar-nav {
  margin:0 auto;
  align-items: center;
}

.nav-link {
  color: azure;
  font-weight: 500;
  line-height: 1;
  &:hover {
    color: #5590e9;
  }
  &.active {
    color: #5590e9;
  }
}

.form-control {
  height: 3rem;
  margin-left: auto;
}

.navbar-logo {
  color: #fff;
}

@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-toggler{
    cursor: pointer;
  }
}
.nav-item {
  color: azure;
  font-weight: 500;
  padding-left: 12px;
  margin-left: 10px;
  position: relative;
  height: 27px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 14px;
    width: 1px;
    background-color: rgba($color: #fff, $alpha: 0.4);
  }
  &:first-child{
    &::before {
      display: none;//not to display first line before home
    }
    .nav-link{
      padding: 0;
    }
  }
}
