
<div class="container">
    <h3>Lorem ipsum</h3>
    <img src="../../assets/images/vdopic.png" alt="no image"> &nbsp;
  
    <div class="divider"></div>
    <div class="video-data">
        <div class="views">
            <i class="material-icons">equalizer</i>&nbsp;
            <span>100</span>
        </div>
       
        <div class="comments">
            <i class="material-icons">chat</i>&nbsp;
            <span>100</span>
        </div>
        <div class="likes">
            <i class="material-icons">thumb_up</i>&nbsp;
            <span>100</span>
        </div>
    </div>  
    <div class="divider"></div><br>
    
    <div class="links">
        <a href="#">Go TO VIDEOS</a>
    </div>
    </div>
    
    
    
    
    
     
