
img {
    width: 100%;
    /* Set a specific height for the image */
    height: 200px; /* Adjust the height value as needed */
    /* Preserve aspect ratio */
    object-fit: cover;
  }
  
  .container {
    /* Set a specific height for the container */
    height: 235px; /* Adjust the height value to match the image height */
   
  }
  
  h3 {
    text-align: center;
    color: rgb(26, 28, 28);
    margin-top: 2px;
  }
  
  span, a {
    color: rgb(26, 28, 28);
    text-decoration: none;
  }
  
  i {
    color: rgb(89, 85, 89);
  }
  

