
.card {
  max-height: 310px; /* Set maximum height for the card */
  overflow: hidden; /* Hide overflow content */

 
  img {
      max-height: 325px; /* Ensure the image doesn't exceed the height of the card */
      width: 75%; /* Maintain aspect ratio */
      display: block; /* Ensure proper rendering */
      margin: 0 auto; /* Center the image horizontally */
  }}