
.card {
    max-height: 330px;
    overflow: hidden; /* Ensure contents don't overflow */

    section {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        img {
            width: 20%;
            height: 30px;
            max-height: 150px; /* Adjust maximum height of the image */
            object-fit: cover;
        }

        .content {
            flex: 1 1 auto;
        }

        .data {
            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;

                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    h5,
    span {
        color: #333;
    }

    i {
        color: rgb(54, 50, 54);
    }
}

