

aside {
  top: 0rem; // Adjust top position as needed
    width: 200px; // Adjust width as needed
    height: calc(100vh - 126px);
    border: 1px solid #d7d1d1;
  background: #cb6e6e;

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;

    li {
      color: #333;
      border-bottom: 1px solid #fcfafa;
      a {
        text-decoration: none; // Add underline to the links
        color: #333; // Adjust link text color as needed
        font-weight: 500;
        display: block;
        padding: 15px 40px; // Adjust padding as needed
        transition: background-color 0.3s, border 0.3s; // Adjust transition properties as needed
        &:hover {
          background-color: #e0f3ff; // Adjust hover background color as needed
        }
        
      }
    }
  }
}

h4 {
  color: #333;
  margin-top: 1rem;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
